In [42]:
# Import Dependancies
import pandas as pd
import numpy as np
import os
import requests
import time
import scipy
import calendar

In [43]:
# read in CSV's
# 2019
Mar2019_df=pd.read_csv("2019/201903-citibike-tripdata.csv", encoding="utf-8")
Apr2019_df=pd.read_csv("2019/201904-citibike-tripdata.csv", encoding="utf-8")
May2019_df=pd.read_csv("2019/201905-citibike-tripdata.csv", encoding="utf-8")
Jun2019_df=pd.read_csv("2019/201906-citibike-tripdata.csv", encoding="utf-8")

# 2020
Mar2020_df=pd.read_csv("2020/202003-citibike-tripdata.csv", encoding="utf-8")
Apr2020_df=pd.read_csv("2020/202004-citibike-tripdata.csv", encoding="utf-8")
May2020_df=pd.read_csv("2020/202005-citibike-tripdata.csv", encoding="utf-8")
Jun2020_df=pd.read_csv("2020/202006-citibike-tripdata.csv", encoding="utf-8")

# 2019 Data
## March Data

In [44]:
d = pd.to_datetime(Mar2019_df['starttime'])
Mar2019_df['date'] = d.dt.date
Mar2019_df['time'] = d.dt.time

In [45]:
# convert create month column and convert to month name
Mar2019_df['starttimemonth'] = pd.DatetimeIndex(Mar2019_df['date']).month
Mar2019_df['starttimemonth'] = Mar2019_df['starttimemonth'].apply(lambda x: calendar.month_abbr[x])
Mar2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time,starttimemonth
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1,2019-03-01,00:00:16.097000,Mar
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1,2019-03-01,00:00:32.385000,Mar
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1,2019-03-01,00:00:47.797000,Mar
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2,2019-03-01,00:01:01.209000,Mar
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1,2019-03-01,00:01:09.281000,Mar

In [46]:
Mar2019_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
date                        object
time                        object
starttimemonth              object
dtype: object

In [47]:
# calculate summary fields
# total trips per month
Trips_Mar2019 = Mar2019_df["tripduration"].count()
# Calculate total trips by subscriber and customer and percentage of each
Subtrips_Mar2019 = Mar2019_df.loc[Mar2019_df.usertype == "Subscriber", "usertype"].count()
percent_subtrips_Mar2019 = Subtrips_Mar2019/Trips_Mar2019*100
Custtrips_Mar2019 = Mar2019_df.loc[Mar2019_df.usertype == "Customer", "usertype"].count()
percent_custtrips_Mar2019 = Custtrips_Mar2019/Trips_Mar2019*100
# trips by gender (Gender (Zero=unknown; 1=male; 2=female))
maletrips_Mar2019 = Mar2019_df.loc[Mar2019_df.gender == 1, "gender"].count()
percent_maletrips_Mar2019 = maletrips_Mar2019/Trips_Mar2019*100
femaletrips_Mar2019 = Mar2019_df.loc[Mar2019_df.gender == 2, "gender"].count()
percent_femaletrips_Mar2019 = femaletrips_Mar2019/Trips_Mar2019*100
unknowntrips_Mar2019 = Mar2019_df.loc[Mar2019_df.gender == 0, "gender"].count()
percent_unknowntrips_Mar2019 = unknowntrips_Mar2019/Trips_Mar2019*100
# calculate total stations ids
start_station_id_count_Mar2019 = Mar2019_df["start station id"].nunique()
# Calculate total bike ids
bike_id_count_Mar2019=Mar2019_df["bikeid"].nunique()
bike_id_count_Mar2019

13966

In [48]:
# create monthly summary
Mar_2019_Summary = pd.DataFrame({
                     "Total Trips":[Trips_Mar2019],
                     "Subscriber Trips Count":[Subtrips_Mar2019],
                     "% Subscriber Trips":[percent_subtrips_Mar2019],
                     "Customer Trips Count":[Custtrips_Mar2019],
                     "% Customer Trips":[percent_custtrips_Mar2019],
                     "Trips by Males":[maletrips_Mar2019],
                     "% Trips by Males":[percent_maletrips_Mar2019],
                     "Trips by Females":[femaletrips_Mar2019],
                     "% Trips by Females":[percent_femaletrips_Mar2019],
                     "Trips by Unknown Gender":[unknowntrips_Mar2019],
                     "% Trips by Unknown Gender":[percent_unknowntrips_Mar2019],
                     "Start Station Count":[start_station_id_count_Mar2019],
                     "Bike ID Count":[bike_id_count_Mar2019]})
Mar_2019_Summary

,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,1327960,1221302,91.968282,106658,8.031718,962603,72.487349,293780,22.122654,71577,5.389997,769,13966

In [62]:
# add month column to summary
Mar_2019_Summary['Month'] = Mar2019_df['starttimemonth']
Mar_2019_Summary=Mar_2019_Summary[['Month','Total Trips','Subscriber Trips Count','% Subscriber Trips',
                                   'Customer Trips Count','% Customer Trips','Trips by Males', 
                                   '% Trips by Males','Trips by Females','% Trips by Females','Trips by Unknown Gender',
                                   '% Trips by Unknown Gender','Start Station Count','Bike ID Count']]
Mar_2019_Summary

,Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,Mar,1327960,1221302,91.968282,106658,8.031718,962603,72.487349,293780,22.122654,71577,5.389997,769,13966

## April Data

In [52]:
d = pd.to_datetime(Apr2019_df['starttime'])
Apr2019_df['date'] = d.dt.date
Apr2019_df['time'] = d.dt.time

In [53]:
# convert create month column and convert to month name
Apr2019_df['starttimemonth'] = pd.DatetimeIndex(Apr2019_df['date']).month
Apr2019_df['starttimemonth'] = Apr2019_df['starttimemonth'].apply(lambda x: calendar.month_abbr[x])
Apr2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time,starttimemonth
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1,2019-04-01,00:00:14.741000,Apr
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1,2019-04-01,00:00:20.827000,Apr
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1,2019-04-01,00:00:30.996000,Apr
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1,2019-04-01,00:00:30.911000,Apr
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1,2019-04-01,00:00:32.593000,Apr

In [54]:
# calculate summary fields
# total trips per month
Trips_Apr2019 = Apr2019_df["tripduration"].count()
# Calculate total trips by subscriber and customer and percentage of each
Subtrips_Apr2019 = Apr2019_df.loc[Apr2019_df.usertype == "Subscriber", "usertype"].count()
percent_subtrips_Apr2019 = Subtrips_Apr2019/Trips_Apr2019*100
Custtrips_Apr2019 = Apr2019_df.loc[Apr2019_df.usertype == "Customer", "usertype"].count()
percent_custtrips_Apr2019 = Custtrips_Apr2019/Trips_Apr2019*100
# trips by gender (Gender (Zero=unknown; 1=male; 2=female))
maletrips_Apr2019 = Apr2019_df.loc[Apr2019_df.gender == 1, "gender"].count()
percent_maletrips_Apr2019 = maletrips_Apr2019/Trips_Apr2019*100
femaletrips_Apr2019 = Apr2019_df.loc[Apr2019_df.gender == 2, "gender"].count()
percent_femaletrips_Apr2019 = femaletrips_Apr2019/Trips_Mar2019*100
unknowntrips_Apr2019 = Apr2019_df.loc[Apr2019_df.gender == 0, "gender"].count()
percent_unknowntrips_Apr2019 = unknowntrips_Apr2019/Trips_Apr2019*100
# calculate total stations ids
start_station_id_count_Apr2019 = Apr2019_df["start station id"].nunique()
# Calculate total bike ids
bike_id_count_Apr2019=Apr2019_df["bikeid"].nunique()
bike_id_count_Apr2019

14457

In [55]:
# create monthly summary
Apr_2019_Summary = pd.DataFrame({
                     "Total Trips":[Trips_Apr2019],
                     "Subscriber Trips Count":[Subtrips_Apr2019],
                     "% Subscriber Trips":[percent_subtrips_Apr2019],
                     "Customer Trips Count":[Custtrips_Apr2019],
                     "% Customer Trips":[percent_custtrips_Apr2019],
                     "Trips by Males":[maletrips_Apr2019],
                     "% Trips by Males":[percent_maletrips_Apr2019],
                     "Trips by Females":[femaletrips_Apr2019],
                     "% Trips by Females":[percent_femaletrips_Apr2019],
                     "Trips by Unknown Gender":[unknowntrips_Apr2019],
                     "% Trips by Unknown Gender":[percent_unknowntrips_Apr2019],
                     "Start Station Count":[start_station_id_count_Apr2019],
                     "Bike ID Count":[bike_id_count_Apr2019]})
Apr_2019_Summary

,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,1766094,1536661,87.009015,229433,12.990985,1218551,68.99695,409285,30.820582,138258,7.828462,784,14457

In [56]:
# add month column to summary
Apr_2019_Summary['Month'] = Apr2019_df['starttimemonth']
Apr_2019_Summary=Apr_2019_Summary[['Month','Total Trips','Subscriber Trips Count','% Subscriber Trips',
                                   'Customer Trips Count','% Customer Trips','Trips by Males', 
                                   '% Trips by Males','Trips by Females','% Trips by Females','Trips by Unknown Gender',
                                   '% Trips by Unknown Gender','Start Station Count','Bike ID Count']]
Apr_2019_Summary

,Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,Apr,1766094,1536661,87.009015,229433,12.990985,1218551,68.99695,409285,30.820582,138258,7.828462,784,14457

## May Data

In [57]:
d = pd.to_datetime(May2019_df['starttime'])
May2019_df['date'] = d.dt.date
May2019_df['time'] = d.dt.time

In [58]:
# convert create month column and convert to month name
May2019_df['starttimemonth'] = pd.DatetimeIndex(May2019_df['date']).month
May2019_df['starttimemonth'] = May2019_df['starttimemonth'].apply(lambda x: calendar.month_abbr[x])
May2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time,starttimemonth
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1,2019-05-01,00:00:01.901000,May
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0,2019-05-01,00:00:03.021000,May
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1,2019-05-01,00:00:04.627000,May
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1,2019-05-01,00:00:19.334000,May
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1,2019-05-01,00:00:22.184000,May

In [59]:
# calculate summary fields
# total trips per month
Trips_May2019 = May2019_df["tripduration"].count()
# Calculate total trips by subscriber and customer and percentage of each
Subtrips_May2019 = May2019_df.loc[May2019_df.usertype == "Subscriber", "usertype"].count()
percent_subtrips_May2019 = Subtrips_May2019/Trips_May2019*100
Custtrips_May2019 = May2019_df.loc[May2019_df.usertype == "Customer", "usertype"].count()
percent_custtrips_May2019 = Custtrips_May2019/Trips_May2019*100
# trips by gender (Gender (Zero=unknown; 1=male; 2=female))
maletrips_May2019 = May2019_df.loc[May2019_df.gender == 1, "gender"].count()
percent_maletrips_May2019 = maletrips_May2019/Trips_May2019*100
femaletrips_May2019 = May2019_df.loc[May2019_df.gender == 2, "gender"].count()
percent_femaletrips_May2019 = femaletrips_May2019/Trips_May2019*100
unknowntrips_May2019 = May2019_df.loc[May2019_df.gender == 0, "gender"].count()
percent_unknowntrips_May2019 = unknowntrips_May2019/Trips_May2019*100
# calculate total stations ids
start_station_id_count_May2019 = May2019_df["start station id"].nunique()
# Calculate total bike ids
bike_id_count_May2019=May2019_df["bikeid"].nunique()
bike_id_count_May2019

12896

In [60]:
# create monthly summary
May_2019_Summary = pd.DataFrame({
                     "Total Trips":[Trips_May2019],
                     "Subscriber Trips Count":[Subtrips_May2019],
                     "% Subscriber Trips":[percent_subtrips_May2019],
                     "Customer Trips Count":[Custtrips_May2019],
                     "% Customer Trips":[percent_custtrips_May2019],
                     "Trips by Males":[maletrips_May2019],
                     "% Trips by Males":[percent_maletrips_May2019],
                     "Trips by Females":[femaletrips_May2019],
                     "% Trips by Females":[percent_femaletrips_May2019],
                     "Trips by Unknown Gender":[unknowntrips_May2019],
                     "% Trips by Unknown Gender":[percent_unknowntrips_May2019],
                     "Start Station Count":[start_station_id_count_May2019],
                     "Bike ID Count":[bike_id_count_May2019]})
May_2019_Summary

,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,1924563,1629997,84.694396,294566,15.305604,1293779,67.22456,462613,24.037301,168171,8.73814,793,12896

In [61]:
# add month column to summary
May_2019_Summary['Month'] = May2019_df['starttimemonth']
May_2019_Summary=May_2019_Summary[['Month','Total Trips','Subscriber Trips Count','% Subscriber Trips',
                                   'Customer Trips Count','% Customer Trips','Trips by Males', 
                                   '% Trips by Males','Trips by Females','% Trips by Females','Trips by Unknown Gender',
                                   '% Trips by Unknown Gender','Start Station Count','Bike ID Count']]
May_2019_Summary

,Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,May,1924563,1629997,84.694396,294566,15.305604,1293779,67.22456,462613,24.037301,168171,8.73814,793,12896

## June Data

In [63]:
d = pd.to_datetime(Jun2019_df['starttime'])
Jun2019_df['date'] = d.dt.date
Jun2019_df['time'] = d.dt.time

In [64]:
# convert create month column and convert to month name
Jun2019_df['starttimemonth'] = pd.DatetimeIndex(Jun2019_df['date']).month
Jun2019_df['starttimemonth'] = Jun2019_df['starttimemonth'].apply(lambda x: calendar.month_abbr[x])
Jun2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time,starttimemonth
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1,2019-06-01,00:00:01.500000,Jun
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2,2019-06-01,00:00:04.240000,Jun
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2,2019-06-01,00:00:06.019000,Jun
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1,2019-06-01,00:00:06.776000,Jun
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1,2019-06-01,00:00:07.520000,Jun

In [65]:
# calculate summary fields
# total trips per month
Trips_Jun2019 = Jun2019_df["tripduration"].count()
# Calculate total trips by subscriber and customer and percentage of each
Subtrips_Jun2019 = Jun2019_df.loc[Jun2019_df.usertype == "Subscriber", "usertype"].count()
percent_subtrips_Jun2019 = Subtrips_Jun2019/Trips_Jun2019*100
Custtrips_Jun2019 = Jun2019_df.loc[Jun2019_df.usertype == "Customer", "usertype"].count()
percent_custtrips_Jun2019 = Custtrips_Jun2019/Trips_Jun2019*100
# trips by gender (Gender (Zero=unknown; 1=male; 2=female))
maletrips_Jun2019 = Jun2019_df.loc[Jun2019_df.gender == 1, "gender"].count()
percent_maletrips_Jun2019 = maletrips_Jun2019/Trips_Jun2019*100
femaletrips_Jun2019 = Jun2019_df.loc[Jun2019_df.gender == 2, "gender"].count()
percent_femaletrips_Jun2019 = femaletrips_Jun2019/Trips_Jun2019*100
unknowntrips_Jun2019 = Jun2019_df.loc[Jun2019_df.gender == 0, "gender"].count()
percent_unknowntrips_Jun2019 = unknowntrips_Jun2019/Trips_Jun2019*100
# calculate total stations ids
start_station_id_count_Jun2019 = Jun2019_df["start station id"].nunique()
# Calculate total bike ids
bike_id_count_Jun2019=Jun2019_df["bikeid"].nunique()
bike_id_count_Jun2019

14319

In [66]:
# create monthly summary
Jun_2019_Summary = pd.DataFrame({
                     "Total Trips":[Trips_Jun2019],
                     "Subscriber Trips Count":[Subtrips_Jun2019],
                     "% Subscriber Trips":[percent_subtrips_Jun2019],
                     "Customer Trips Count":[Custtrips_Jun2019],
                     "% Customer Trips":[percent_custtrips_Jun2019],
                     "Trips by Males":[maletrips_Jun2019],
                     "% Trips by Males":[percent_maletrips_Jun2019],
                     "Trips by Females":[femaletrips_Jun2019],
                     "% Trips by Females":[percent_femaletrips_Jun2019],
                     "Trips by Unknown Gender":[unknowntrips_Jun2019],
                     "% Trips by Unknown Gender":[percent_unknowntrips_Jun2019],
                     "Start Station Count":[start_station_id_count_Jun2019],
                     "Bike ID Count":[bike_id_count_Jun2019]})
Jun_2019_Summary

,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,2125370,1752526,82.457454,372844,17.542546,1399108,65.828914,527577,24.822831,198685,9.348255,793,14319

In [98]:
# add month column to summary
Jun_2019_Summary['Month'] = Jun2019_df['starttimemonth']
Jun_2019_Summary=Jun_2019_Summary[['Month','Total Trips','Subscriber Trips Count','% Subscriber Trips',
                                   'Customer Trips Count','% Customer Trips','Trips by Males', 
                                   '% Trips by Males','Trips by Females','% Trips by Females','Trips by Unknown Gender',
                                   '% Trips by Unknown Gender','Start Station Count','Bike ID Count']]
Jun_2019_Summary

,Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,Jun,2125370,1752526,82.457454,372844,17.542546,1399108,65.828914,527577,24.822831,198685,9.348255,793,14319

# 2020 Data
## Mar Data

In [68]:
d = pd.to_datetime(Mar2020_df['starttime'])
Mar2020_df['date'] = d.dt.date
Mar2020_df['time'] = d.dt.time

In [69]:
# convert create month column and convert to month name
Mar2020_df['starttimemonth'] = pd.DatetimeIndex(Mar2020_df['date']).month
Mar2020_df['starttimemonth'] = Mar2020_df['starttimemonth'].apply(lambda x: calendar.month_abbr[x])
Mar2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time,starttimemonth
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1,2020-03-01,00:00:03.640000,Mar
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2,2020-03-01,00:00:16.756000,Mar
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1,2020-03-01,00:00:20.058000,Mar
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1,2020-03-01,00:00:24.351000,Mar
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1,2020-03-01,00:00:26.112000,Mar

In [70]:
# calculate summary fields
# total trips per month
Trips_Mar2020 = Mar2020_df["tripduration"].count()
# Calculate total trips by subscriber and customer and percentage of each
Subtrips_Mar2020 = Mar2020_df.loc[Mar2020_df.usertype == "Subscriber", "usertype"].count()
percent_subtrips_Mar2020 = Subtrips_Mar2020/Trips_Mar2020*100
Custtrips_Mar2020 = Mar2020_df.loc[Mar2020_df.usertype == "Customer", "usertype"].count()
percent_custtrips_Mar2020 = Custtrips_Mar2020/Trips_Mar2020*100
# trips by gender (Gender (Zero=unknown; 1=male; 2=female))
maletrips_Mar2020 = Mar2020_df.loc[Mar2020_df.gender == 1, "gender"].count()
percent_maletrips_Mar2020 = maletrips_Mar2020/Trips_Mar2020*100
femaletrips_Mar2020= Mar2020_df.loc[Mar2020_df.gender == 2, "gender"].count()
percent_femaletrips_Mar2020 = femaletrips_Mar2020/Trips_Mar2020*100
unknowntrips_Mar2020 = Mar2020_df.loc[Mar2020_df.gender == 0, "gender"].count()
percent_unknowntrips_Mar2020 = unknowntrips_Mar2020/Trips_Mar2020*100
# calculate total stations ids
start_station_id_count_Mar2020 = Mar2020_df["start station id"].nunique()
# Calculate total bike ids
bike_id_count_Mar2020=Mar2020_df["bikeid"].nunique()
bike_id_count_Mar2020

14882

In [71]:
# create monthly summary
Mar_2020_Summary = pd.DataFrame({
                     "Total Trips":[Trips_Mar2020],
                     "Subscriber Trips Count":[Subtrips_Mar2020],
                     "% Subscriber Trips":[percent_subtrips_Mar2020],
                     "Customer Trips Count":[Custtrips_Mar2020],
                     "% Customer Trips":[percent_custtrips_Mar2020],
                     "Trips by Males":[maletrips_Mar2020],
                     "% Trips by Males":[percent_maletrips_Mar2020],
                     "Trips by Females":[femaletrips_Mar2020],
                     "% Trips by Females":[percent_femaletrips_Mar2020],
                     "Trips by Unknown Gender":[unknowntrips_Mar2020],
                     "% Trips by Unknown Gender":[percent_unknowntrips_Mar2020],
                     "Start Station Count":[start_station_id_count_Mar2020],
                     "Bike ID Count":[bike_id_count_Mar2020]})
Mar_2020_Summary

,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,1068457,914068,85.550284,154389,14.449716,722979,67.665709,263862,24.695612,81616,7.638679,889,14882

In [82]:
# add month column to summary
Mar_2020_Summary['2020Month'] = Mar2020_df['starttimemonth']
Mar_2020_Summary=Mar_2020_Summary[['2020Month','Total Trips','Subscriber Trips Count','% Subscriber Trips',
                                   'Customer Trips Count','% Customer Trips','Trips by Males', 
                                   '% Trips by Males','Trips by Females','% Trips by Females','Trips by Unknown Gender',
                                   '% Trips by Unknown Gender','Start Station Count','Bike ID Count']]
Mar_2020_Summary

,2020Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,Mar,1068457,914068,85.550284,154389,14.449716,722979,67.665709,263862,24.695612,81616,7.638679,889,14882

## Apr Data

In [73]:
d = pd.to_datetime(Apr2020_df['starttime'])
Apr2020_df['date'] = d.dt.date
Apr2020_df['time'] = d.dt.time

In [74]:
# convert create month column and convert to month name
Apr2020_df['starttimemonth'] = pd.DatetimeIndex(Apr2020_df['date']).month
Apr2020_df['starttimemonth'] = Apr2020_df['starttimemonth'].apply(lambda x: calendar.month_abbr[x])
Apr2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time,starttimemonth
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,3656,E 2 St & Avenue A,40.723077,-73.985836,545,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,1990,2,2020-04-01,00:00:15.280000,Apr
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,3163,Central Park West & W 68 St,40.773407,-73.977825,3301,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,1974,1,2020-04-01,00:02:28.943000,Apr
2,1488,2020-04-01 00:02:56.0900,2020-04-01 00:27:44.2530,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3605,31 Ave & Crescent St,40.765835,-73.926547,35989,Subscriber,1982,1,2020-04-01,00:02:56.090000,Apr
3,341,2020-04-01 00:03:25.1410,2020-04-01 00:09:06.3190,3827,Halsey St & Broadway,40.685650,-73.915640,3869,Van Buren St & Broadway,40.692000,-73.926170,37548,Subscriber,1996,1,2020-04-01,00:03:25.141000,Apr
4,2206,2020-04-01 00:05:35.2790,2020-04-01 00:42:21.9080,3890,Grove St & Broadway,40.690470,-73.923511,3058,Lewis Ave & Kosciuszko St,40.692371,-73.937054,39701,Subscriber,1977,1,2020-04-01,00:05:35.279000,Apr

In [75]:
# calculate summary fields
# total trips per month
Trips_Apr2020 = Apr2020_df["tripduration"].count()
# Calculate total trips by subscriber and customer and percentage of each
Subtrips_Apr2020 = Apr2020_df.loc[Apr2020_df.usertype == "Subscriber", "usertype"].count()
percent_subtrips_Apr2020 = Subtrips_Apr2020/Trips_Apr2020*100
Custtrips_Apr2020 = Apr2020_df.loc[Apr2020_df.usertype == "Customer", "usertype"].count()
percent_custtrips_Apr2020 = Custtrips_Apr2020/Trips_Apr2020*100
# trips by gender (Gender (Zero=unknown; 1=male; 2=female))
maletrips_Apr2020 = Apr2020_df.loc[Apr2020_df.gender == 1, "gender"].count()
percent_maletrips_Apr2020 = maletrips_Apr2020/Trips_Apr2020*100
femaletrips_Apr2020= Apr2020_df.loc[Apr2020_df.gender == 2, "gender"].count()
percent_femaletrips_Apr2020 = femaletrips_Apr2020/Trips_Apr2020*100
unknowntrips_Apr2020 = Apr2020_df.loc[Apr2020_df.gender == 0, "gender"].count()
percent_unknowntrips_Apr2020 = unknowntrips_Apr2020/Trips_Apr2020*100
# calculate total stations ids
start_station_id_count_Apr2020 = Apr2020_df["start station id"].nunique()
# Calculate total bike ids
bike_id_count_Apr2020=Apr2020_df["bikeid"].nunique()
bike_id_count_Apr2020

14780

In [78]:
Apr_2020_Summary = pd.DataFrame({
                     "Total Trips":[Trips_Apr2020],
                     "Subscriber Trips Count":[Subtrips_Apr2020],
                     "% Subscriber Trips":[percent_subtrips_Apr2020],
                     "Customer Trips Count":[Custtrips_Apr2020],
                     "% Customer Trips":[percent_custtrips_Apr2020],
                     "Trips by Males":[maletrips_Apr2020],
                     "% Trips by Males":[percent_maletrips_Apr2020],
                     "Trips by Females":[femaletrips_Apr2020],
                     "% Trips by Females":[percent_femaletrips_Apr2020],
                     "Trips by Unknown Gender":[unknowntrips_Apr2020],
                     "% Trips by Unknown Gender":[percent_unknowntrips_Apr2020],
                     "Start Station Count":[start_station_id_count_Apr2020],
                     "Bike ID Count":[bike_id_count_Apr2020]})
Apr_2020_Summary

,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,682762,516495,75.647883,166267,24.352117,412624,60.434529,191812,28.093538,78326,11.471933,887,14780

In [80]:
Apr_2020_Summary['2020Month'] = Apr2020_df['starttimemonth']
Apr_2020_Summary=Apr_2020_Summary[['2020Month','Total Trips','Subscriber Trips Count','% Subscriber Trips',
                                   'Customer Trips Count','% Customer Trips','Trips by Males', 
                                   '% Trips by Males','Trips by Females','% Trips by Females','Trips by Unknown Gender',
                                   '% Trips by Unknown Gender','Start Station Count','Bike ID Count']]
Apr_2020_Summary

,2020Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,Apr,682762,516495,75.647883,166267,24.352117,412624,60.434529,191812,28.093538,78326,11.471933,887,14780

## May Data

In [85]:
d = pd.to_datetime(May2020_df['starttime'])
May2020_df['date'] = d.dt.date
May2020_df['time'] = d.dt.time

In [87]:
# convert create month column and convert to month name
May2020_df['starttimemonth'] = pd.DatetimeIndex(May2020_df['date']).month
May2020_df['starttimemonth'] = May2020_df['starttimemonth'].apply(lambda x: calendar.month_abbr[x])
May2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time,starttimemonth
0,336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1,2020-05-01,00:01:06.338000,May
1,853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1,2020-05-01,00:01:08.195000,May
2,78,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2,2020-05-01,00:01:08.526000,May
3,1185,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1,2020-05-01,00:02:22.438000,May
4,272,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1,2020-05-01,00:02:32.828000,May

In [89]:
# calculate summary fields
# total trips per month
Trips_May2020 = May2020_df["tripduration"].count()
# Calculate total trips by subscriber and customer and percentage of each
Subtrips_May2020 = May2020_df.loc[May2020_df.usertype == "Subscriber", "usertype"].count()
percent_subtrips_May2020 = Subtrips_May2020/Trips_May2020*100
Custtrips_May2020 = May2020_df.loc[May2020_df.usertype == "Customer", "usertype"].count()
percent_custtrips_May2020 = Custtrips_May2020/Trips_May2020*100
# trips by gender (Gender (Zero=unknown; 1=male; 2=female))
maletrips_May2020 = May2020_df.loc[May2020_df.gender == 1, "gender"].count()
percent_maletrips_May2020 = maletrips_May2020/Trips_May2020*100
femaletrips_May2020= May2020_df.loc[May2020_df.gender == 2, "gender"].count()
percent_femaletrips_May2020 = femaletrips_May2020/Trips_May2020*100
unknowntrips_May2020 = May2020_df.loc[May2020_df.gender == 0, "gender"].count()
percent_unknowntrips_May2020 = unknowntrips_May2020/Trips_May2020*100
# calculate total stations ids
start_station_id_count_May2020 = May2020_df["start station id"].nunique()
# Calculate total bike ids
bike_id_count_May2020=May2020_df["bikeid"].nunique()
bike_id_count_May2020

15003

In [90]:
May_2020_Summary = pd.DataFrame({
                     "Total Trips":[Trips_May2020],
                     "Subscriber Trips Count":[Subtrips_May2020],
                     "% Subscriber Trips":[percent_subtrips_May2020],
                     "Customer Trips Count":[Custtrips_May2020],
                     "% Customer Trips":[percent_custtrips_May2020],
                     "Trips by Males":[maletrips_May2020],
                     "% Trips by Males":[percent_maletrips_May2020],
                     "Trips by Females":[femaletrips_May2020],
                     "% Trips by Females":[percent_femaletrips_May2020],
                     "Trips by Unknown Gender":[unknowntrips_May2020],
                     "% Trips by Unknown Gender":[percent_unknowntrips_May2020],
                     "Start Station Count":[start_station_id_count_May2020],
                     "Bike ID Count":[bike_id_count_May2020]})
May_2020_Summary

,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,1487890,1012059,68.019746,475831,31.980254,817093,54.916224,460580,30.955245,210217,14.128531,923,15003

In [91]:
May_2020_Summary['2020Month'] = May2020_df['starttimemonth']
May_2020_Summary=May_2020_Summary[['2020Month','Total Trips','Subscriber Trips Count','% Subscriber Trips',
                                   'Customer Trips Count','% Customer Trips','Trips by Males', 
                                   '% Trips by Males','Trips by Females','% Trips by Females','Trips by Unknown Gender',
                                   '% Trips by Unknown Gender','Start Station Count','Bike ID Count']]
May_2020_Summary

,2020Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,May,1487890,1012059,68.019746,475831,31.980254,817093,54.916224,460580,30.955245,210217,14.128531,923,15003

## June Data

In [92]:
d = pd.to_datetime(Jun2020_df['starttime'])
Jun2020_df['date'] = d.dt.date
Jun2020_df['time'] = d.dt.time

In [93]:
# convert create month column and convert to month name
Jun2020_df['starttimemonth'] = pd.DatetimeIndex(Jun2020_df['date']).month
Jun2020_df['starttimemonth'] = Jun2020_df['starttimemonth'].apply(lambda x: calendar.month_abbr[x])
Jun2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,time,starttimemonth
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2,2020-06-01,00:00:03.372000,Jun
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0,2020-06-01,00:00:03.553000,Jun
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2,2020-06-01,00:00:09.614000,Jun
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0,2020-06-01,00:00:12.178000,Jun
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2,2020-06-01,00:00:21.255000,Jun

In [94]:
# calculate summary fields
# total trips per month
Trips_Jun2020 = Jun2020_df["tripduration"].count()
# Calculate total trips by subscriber and customer and percentage of each
Subtrips_Jun2020 = Jun2020_df.loc[Jun2020_df.usertype == "Subscriber", "usertype"].count()
percent_subtrips_Jun2020 = Subtrips_Jun2020/Trips_Jun2020*100
Custtrips_Jun2020 = Jun2020_df.loc[Jun2020_df.usertype == "Customer", "usertype"].count()
percent_custtrips_Jun2020 = Custtrips_Jun2020/Trips_Jun2020*100
# trips by gender (Gender (Zero=unknown; 1=male; 2=female))
maletrips_Jun2020 = Jun2020_df.loc[Jun2020_df.gender == 1, "gender"].count()
percent_maletrips_Jun2020 = maletrips_Jun2020/Trips_Jun2020*100
femaletrips_Jun2020= Jun2020_df.loc[Jun2020_df.gender == 2, "gender"].count()
percent_femaletrips_Jun2020 = femaletrips_Jun2020/Trips_Jun2020*100
unknowntrips_Jun2020 = Jun2020_df.loc[Jun2020_df.gender == 0, "gender"].count()
percent_unknowntrips_Jun2020 = unknowntrips_Jun2020/Trips_Jun2020*100
# calculate total stations ids
start_station_id_count_Jun2020 = Jun2020_df["start station id"].nunique()
# Calculate total bike ids
bike_id_count_Jun2020=Jun2020_df["bikeid"].nunique()
bike_id_count_Jun2020

15849

In [95]:
Jun_2020_Summary = pd.DataFrame({
                     "Total Trips":[Trips_Jun2020],
                     "Subscriber Trips Count":[Subtrips_Jun2020],
                     "% Subscriber Trips":[percent_subtrips_Jun2020],
                     "Customer Trips Count":[Custtrips_Jun2020],
                     "% Customer Trips":[percent_custtrips_Jun2020],
                     "Trips by Males":[maletrips_Jun2020],
                     "% Trips by Males":[percent_maletrips_Jun2020],
                     "Trips by Females":[femaletrips_Jun2020],
                     "% Trips by Females":[percent_femaletrips_Jun2020],
                     "Trips by Unknown Gender":[unknowntrips_Jun2020],
                     "% Trips by Unknown Gender":[percent_unknowntrips_Jun2020],
                     "Start Station Count":[start_station_id_count_Jun2020],
                     "Bike ID Count":[bike_id_count_Jun2020]})
Jun_2020_Summary

,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,1882273,1306688,69.420748,575585,30.579252,1044621,55.497848,586361,31.151751,251291,13.350401,958,15849

In [96]:
Jun_2020_Summary['2020Month'] = Jun2020_df['starttimemonth']
Jun_2020_Summary=Jun_2020_Summary[['2020Month','Total Trips','Subscriber Trips Count','% Subscriber Trips',
                                   'Customer Trips Count','% Customer Trips','Trips by Males', 
                                   '% Trips by Males','Trips by Females','% Trips by Females','Trips by Unknown Gender',
                                   '% Trips by Unknown Gender','Start Station Count','Bike ID Count']]
Jun_2020_Summary

,2020Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,Jun,1882273,1306688,69.420748,575585,30.579252,1044621,55.497848,586361,31.151751,251291,13.350401,958,15849

# Combine Summaries and Export

In [99]:
# concat monthly summaries into annual summary
Mar_Apr_May_Jun2019_Summary = pd.concat([Mar_2019_Summary,Apr_2019_Summary, May_2019_Summary,
                                         Jun_2019_Summary], ignore_index=True)
Mar_Apr_May_Jun2019_Summary

,Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,Mar,1327960,1221302,91.968282,106658,8.031718,962603,72.487349,293780,22.122654,71577,5.389997,769,13966
1,Apr,1766094,1536661,87.009015,229433,12.990985,1218551,68.996950,409285,30.820582,138258,7.828462,784,14457
2,May,1924563,1629997,84.694396,294566,15.305604,1293779,67.224560,462613,24.037301,168171,8.738140,793,12896
3,Jun,2125370,1752526,82.457454,372844,17.542546,1399108,65.828914,527577,24.822831,198685,9.348255,793,14319

In [100]:
# concat monthly summaries into annual summary
Mar_Apr_May_Jun2020_Summary = pd.concat([Mar_2020_Summary,Apr_2020_Summary, May_2020_Summary,
                                         Jun_2020_Summary], ignore_index=True)
Mar_Apr_May_Jun2020_Summary

,2020Month,Total Trips,Subscriber Trips Count,% Subscriber Trips,Customer Trips Count,% Customer Trips,Trips by Males,% Trips by Males,Trips by Females,% Trips by Females,Trips by Unknown Gender,% Trips by Unknown Gender,Start Station Count,Bike ID Count
0,Mar,1068457,914068,85.550284,154389,14.449716,722979,67.665709,263862,24.695612,81616,7.638679,889,14882
1,Apr,682762,516495,75.647883,166267,24.352117,412624,60.434529,191812,28.093538,78326,11.471933,887,14780
2,May,1487890,1012059,68.019746,475831,31.980254,817093,54.916224,460580,30.955245,210217,14.128531,923,15003
3,Jun,1882273,1306688,69.420748,575585,30.579252,1044621,55.497848,586361,31.151751,251291,13.350401,958,15849

In [101]:
# export Summaries to csv
Mar_Apr_May_Jun2019_Summary.to_csv("2019_Spring_Summary.csv", index=False)

In [102]:
# export Summaries to csv
Mar_Apr_May_Jun2020_Summary.to_csv("2020_Spring_Summary.csv", index=False)